<!DOCTYPE html>
<html lang="vi">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User</title>
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="/css/User/styleUser.css">
   <link rel="stylesheet" href="/css/User/updateUser.css">
   <link rel="stylesheet" href="/css/Header/styleHeader.css">

</head>

<body>
   <%- include("../../Components/Header/Header.ejs") %>
      <div class="container addUser">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-user-plus"></i>
         </button>

         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog bodyShow">
               <div class="modal-content modelBody">
                  <div class="modal-header">
                     <h1 class="modal-title fs-5" id="exampleModalLabel">Create User</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <%- include("./createUser.ejs") %>
                  </div>
               </div>
            </div>
         </div>
         <div class="modelUpdateuser"></div>
      </div>
      <section class="intro">
         <div class="bg-image h-100">
            <div class="mask d-flex align-items-center h-100">
               <div class="container">
                  <div class="row justify-content-center">
                     <div class="col-12">
                        <div class="card shadow-2-strong">
                           <div class="card-body">
                              <div class="table-responsive">
                                 <table class="tableUser table table-borderless mb-0">
                                    <thead class="headerTableUser">
                                       <tr>
                                          <th scope="col">STT</th>
                                          <th scope="col">Username</th>
                                          <th scope="col">Email</th>
                                          <th scope="col">Phone</th>
                                          <th scope="col">Address</th>
                                          <th scope="col">Gender</th>
                                          <th scope="col">Role</th>
                                          <th scope="col">Action</th>
                                       </tr>
                                    </thead>
                                    <tbody class="bodyTableUser">
                                       <% for(let i=0; i<dataTable.length; i++){ %>
                                          <tr>
                                             <th>
                                                <%= i + 1 %>
                                             </th>
                                             <th>
                                                <%= dataTable[i].name %>
                                             </th>
                                             <th>
                                                <%= dataTable[i].email %>
                                             </th>
                                             <th>
                                                <%= dataTable[i].phone %>
                                             </th>
                                             <th>
                                                <%= dataTable[i].address %>
                                             </th>
                                             <th>
                                                <%= dataTable[i].gender ? "Female" : "Male" %>
                                             </th>
                                             <th>
                                                <%= dataTable[i].role===0 ? "Admin" : dataTable[i].role===1 ? "Owner"
                                                   : "User" %>
                                             </th>
                                             <th>
                                                <a href="#" class="edit-user-btn" data-id="<%= dataTable[i].id %>">
                                                   <i class="fa-regular fa-pen-to-square co-oreg"></i>
                                                </a>
                                                <a href="/api/user/delete-user/<%= dataTable[i].id %>"
                                                   class="delete-user-btn">
                                                   <i class="fa-solid fa-user-xmark co-red"></i>
                                                </a>
                                             </th>
                                          </tr>
                                          <% } %>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <script src="/js/User/User.js"></script>
</body>

</html>